<style>
    #txtId {
        display: none;
    }
</style>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        /* Estilo para el calendario */
        .ui-datepicker-calendar {
            background-color: #fff;
        }
    </style>
</head>



<form id="AgregarPersonal" class="was-validated" action="@Url.Action("RegistrarPersona","RegistrarPersonal")" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">REGISTRAR PERSONAL</h5>
        </div>
        <div class="modal-body">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <label for="txtNombre1" class="form-label">Primer Nombre</label>
                        <input type="text" id="txtNombre1" name="PrimerNombre" class="form-control" maxlength="10" minlength="3" required />
                        <div class="invalid-feedback">
                            Ingresar Primer Nombre valido
                        </div>
                    </div>
                    <div class="col">
                        <label>Segundo Nombre</label>
                        <input type="text" id="txtNombre2" name="SegundoNombre" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <label>Primer Apellido</label>
                        <input type="text" id="txtApellido1" name="PrimerApellido" class="form-control" maxlength="15" minlength="3" required />
                        <div class="invalid-feedback">Debe ingresar Primer Apellido valido</div>
                    </div>
                    <div class="col">
                        <label>Segundo Apellido</label>
                        <input type="text" id="txtApellido2" name="SegundoApellido" class="form-control" />
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">

                    <div class="col">
                        <label>Tipo De Documento</label>
                        <select id="ddlTipoDocumento" name="IdTipoDocumento" class="form-control form-select" aria-label="select example" required>
                            <option value="">Seleccione Tipo de Documento</option>
                        </select>
                        <div class="invalid-feedback">Debe seleccionar un tipo de documento</div>
                    </div>

                    <div class="col">
                        <label>Número Documento</label>
                        <input type="text" id="txtNumeroDocumento" name="NumeroDocumento" class="form-control" maxlength="11" required>
                        <div class="invalid-feedback">Debe ingresar Numero de Documento valido</div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col">
                        <label>Edad</label>
                        <input type="text" id="txtEdad" name="Edad" class="form-control" required>
                        <div class="invalid-feedback">Debe Edad valida</div>
                    </div>
                    <div class="col">
                        <label>Fecha Nacimiento</label>
                        <input type="text" id="txtFechaNacimiento" name="FechaNacimiento" class="form-control ui-datepicker-calendar" required>
                        <div class="invalid-feedback">Debe ingresar fecha valida</div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <label>Número Celular </label>
                        <input type="text" id="txtCelularModal" name="Celular" class="form-control" maxlength="10" required />
                        <div class="invalid-feedback">Debe ingresar Numero Celular valido</div>
                    </div>
                    <div class="col">
                        <label>Correo Electronico </label>
                        <input type="tel" id="txtCorreoElectronicomodal" name="Email" class="form-control" minlength="6" maxlength="60" />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <label>Tipo De Sangre</label>
                        <select id="ddlTipoSangre" name="IdTipoSangre" class="form-control" required>
                            <option value="">Seleccione Tipo de Sangre</option>
                        </select>
                        <div class="invalid-feedback">Debe seleccionar un tipo de sangre</div>
                    </div>
                    <div class="col">
                        <label>Genero</label>
                        <select id="ddlTipoGenero" name="IdGenero" class="form-control" required>
                            <option value="">Seleccione Genero</option>
                        </select>
                        <div class="invalid-feedback">Debe seleccionar un Genero</div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <label>Departamento</label>
                        <select id="ddlDepartamento" name="IdDepartamento" class="form-control" required>
                            <option value="">Seleccione Departamento</option>
                        </select>
                        <div class="invalid-feedback">Debe seleccionar un Departamento</div>
                    </div>
                    <div class="col">
                        <label>Ciudad</label>
                        <select id="ddlCiudad" name="IdCiudadNacimiento" class="form-control" required>
                            <option value="">Seleccione Cudad</option>
                        </select>
                        <div class="invalid-feedback">Debe seleccionar una Ciudad</div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <label>Direccion Vivienda</label>
                        <input type="text" id="txtDireccion" name="DireccionVivienda" class="form-control" />
                        <div class="invalid-feedback">Debe ingresar Direccion valida</div>
                    </div>
                    <div class="col">
                        <label>Area de Trabajo</label>
                        <select id="ddlAreaTrabajo" name="IdAreaTrabajo" class="form-control" required>
                            <option value="">Seleccione Area de trabajo</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col" id="Especialidad">
                        <label>Especialidad</label>
                        <select id="ddlEspecialidad" name="IdEspecialidad" class="form-control" required>
                            <option value="">Seleccione Especialidad</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="text" id="txtId" name="Id" class="form-control ocultar" maxlength="10" minlength="3" />
                    </div>
                </div>
            </div>
            @if (ViewData["Mensaje"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Mensaje"]
                </div>
            }


            @*<div class="container">
                    <div class="row">
                        <div class="col">
                            1 of 2
                        </div>
                        <div class="col">
                            2 of 2
                        </div>
                    </div>
                </div>*@

        </div>
        <div class="modal-footer">
            <button type="submit" id="btnAgregarPersona" class="btn btn-secondary">Aceptar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</form>
